/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #ffd43b
BACKGROUND: #495057

TEXT COLOR: #343a40 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #343a40;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  border-top: 4px solid #d6741c;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;

  padding: 12px;
  width: 100%;
}

.logo-area {
  width: 175px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-area img {
  object-fit: contain;
  width: 100%;
}

.logo-area p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.mail-icon {
  height: 24px;
  width: 24px;
  stroke: #343a40;
}

.header-links {
  display: flex;
  gap: 24px;
}

.toolbar-links:link,
.toolbar-links:visited {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 4px 12px;
  letter-spacing: 1.7px;
}

.toolbar-links:hover,
.toolbar-links:active {
  color: #343a40;
  background-color: #339af0;
}

.current-link:link,
.current-link:visited {
  background-color: #339af0;
}

form {
  display: flex;
  width: fit-content;
}

form input {
  border: 0;
  outline: none;
  padding: 10px 20px;
  height: 40px;
  font-size: 16px;

  font-weight: 300;
  font-family: "Inter", sans-serif;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  background-color: #fff;
}

form .button {
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

form .button svg {
  stroke: #fff;
  fill: #339af0;
}

.newsletter-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.join-text {
  font-style: italic;
  text-transform: uppercase;
  align-self: center;
  color: #e7f5ff;
  margin-bottom: 8px;
  font-weight: 500;
}

span {
  position: absolute;
  color: #e7f5ff;
  align-self: left;
  font-size: 12px;
  margin-top: 8px;
  left: 0;
  bottom: -20px;
}

.body-container {
  width: 1000px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.body-container h2 {
  color: #d6741c;
  font-weight: 1000;
  margin: 12px;
  letter-spacing: 1.7px;
}

.body-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}

/* Article */

.title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 36px;
}

.intro-p {
  width: 900px;
  line-height: 1.5;
}

.title {
  font-size: 52px;
  font-weight: 900;
}

.main-article {
  width: 800px;
}

.main-article p {
  width: 700px;
  margin-bottom: 54px;
  margin-left: 36px;
  line-height: 1.5;
  font-size: 20px;
}

.main-image {
  width: 700px;
  margin-bottom: 36px;
  margin-left: 36px;
}

.main-article h3 {
  margin-left: 36px;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 800;
}

.article-image {
  width: 600px;
  margin-bottom: 24px;
  margin-left: 36px;
  justify-self: center;
  align-self: center;
}

/* TAGS */

.tag-line {
  display: flex;
  gap: 24px;
  margin-left: 36px;
}

.tags {
  padding: 4px 6px;
  background-color: #339af0;
  color: #fff;
  font-size: 16px;
  object-fit: contain;
}

/* FOOTER */

.end-text {
  font-size: 36px;
  bottom: 0;
  left: 0;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 24px;
}

.end-text p {
  font-weight: 400;
  text-align: center;
}

footer {
  background-color: #343a40;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin-top: 12px;
  font-size: 16px;
}

footer .newsletter-signup {
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  .header-links {
    display: block;
    gap: 1px;
    width: 65%;
  }
  .toolbar-links:link,
  .toolbar-links:visited {
    padding: 2px 4px;
    letter-spacing: 1.7px;
    line-height: 1.7;
  }
  .logo-area {
    width: 35%;
  }

  .logo-area p {
    display: none;
  }
  header .newsletter-signup {
    display: none;
  }
  .body-container {
    width: 100%;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .title-container {
    padding: 12px;
  }

  .title {
    font-size: 24px;
  }
  .intro-p {
    width: 100%;
    padding: 4px;
  }
  .main-article {
    width: 100%;
  }
  .main-article h3 {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 4px;
  }
  .main-article p {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
  .main-article img {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }
  .main-image {
    margin-left: 0;
    width: 100%;
  }

  .tag-line {
    gap: 6px;
    margin: 16px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .tags {
    width: fit-content;
    text-align: center;
    font-size: 12px;
  }

  .end-text p {
    content: "Get Updates When New Articles Come Out!";
  }
}
